<!DOCTYPE html>
<html>
<head>
  <title>Ryanbeckman</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">

    <div class="nav-bar">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <%= image_tag "http://www.gravatar.com/avatar/655768ee1f9b5595ba157523e12622fc.png" %>
          <h3 class="sidebar-name">Ryan Beckman</h3>
          <span>Web Developer</span>
        </li>

        <li><a href="#">Intro <i class="icon-home"></i></a></li>

        <li><a href="#">Projects <i class="icon-th"></i></a></li>

        <li><a href="#">About Me <i class="icon-user"></i></a></li>

        <li><a href="#">Contact <i class="icon-envelope"></i></a></li>
      </ul>

      <div class="contact-buttons">
        <a href="http://www.linkedin.com/pub/ryan-beckman/7/249/b22"><i class="icon-linkedin"></i></a>
        <a href="https://github.com/zaldabus"><i class="icon icon-github"></i></a>
        <a href="#"><i class="icon icon-envelope"></i></a>
      </div>
    </div>

    <div class="main-content"><%= yield %></div>
</div>
</div>
</body>
</html>
